<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>foodin Admin Panel</title>
  <link rel="shortcut icon" type="image/png" href="../assets/img/logo.png" />
  <link rel="stylesheet" href="../assets/css/styles.min.css" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="/" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="/assets/img/logo.png" width="80" style="border-radius: 50%;"  alt="logo">
                </a>
                <% if (locals.status === "success") { %>
                    <div class="alert alert-success" role="alert">
                        <%= locals.msg %>
                    </div>
                    <script>
                      setTimeout(()=>{
                        window.location.href = "http://127.0.0.1:3000/admin/users"; 
                      },800)
                    </script>
                <% } if(locals.status === "error"){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= locals.msg %>
                    </div>
                    <script>
                      setTimeout(()=>{
                        window.location.href = "http://127.0.0.1:3000/admin/users"; 
                      },800)
                    </script>
                <% } %>
                <form action="/admin/auth" method="POST" onsubmit="return admnloginValidate()">
                  <div class="mb-3">
                    <label for="adminEmail" id="adminEmailLabel" class="form-label">Email Id</label>
                    <input type="email" name="adminEmail" class="form-control" id="adminEmail" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-4">
                    <label for="adminPassword" id="adminPasswordLabel" class="form-label">Password</label>
                    <input type="password" name="adminPassword" class="form-control" id="adminPassword">
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <a class="text-primary fw-bold" href="/admin/adminforgot">Forgot Password ?</a>
                  </div>
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign In</button>
                  <div class="d-flex align-items-center justify-content-center">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="/assets/js/adminValidate.js"></script>
</html>