<div class="container-fluid">

<style>
  .dropdown {
      position: relative;
      display: inline-block;
  }

  .dropbtn {
      background-color: #d6d6d6;
      color: black;
      padding: 5px 10px;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropdown-content a:hover {
      background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }

  .dropdown:hover .dropbtn {
      background-color: #b7b7b7;
  }
</style>
<div class="row">
    <div class="col-md-12">
        <h4 class="float-start">Today</h4>
        <a href="/admin/sales-report">
          <button class="btn btn-secondary float-end">Sales Report</button>
        </a>
        <br>
        <br>
        <hr>
        <div class="my-4">
            <span><b>Total Sale:</b> <%= totalAmount %></span>
            <span class="mx-5"><b>Delivered Orders:</b> <%= orders %></span>
            <span class="mx-5"><b>Canceled Orders:</b> <%= canceled %></span>
            
        </div>
        <canvas id="myChart" class="w-100" height="350px"></canvas>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', async function () {
      const response = await fetch("/admin/get-sale-data")
      const data = await response.json()
      
      var ctx = document.getElementById("myChart").getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [{
            label: 'Total sales',
            data: data.item,
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          }
        }
      });
    });
</script>

