

  <div class="row">
      <div class="col-md-12">
        <div class="container">
          <div class="row my-3">
              <div class="col-md-12">
                  <h4>Sales Report</h4>
                  <a href="/admin/sales-report">
                    <button class="btn btn-secondary float-end">Sales Report</button>
                  </a>
                  <div class="my-4">
                    <span><b>Total Sale:</b> <%= totalAmount %></span>
                    <span class="mx-5"><b>Delivered Orders:</b> <%= orders %></span>
                    <span class="mx-5"><b>Canceled Orders:</b> <%= canceled %></span>
                </div>
              </div>
          </div>
          <div class="row my-2">
              <div class="col-md-12 py-1">
                  <div class="card">
                      <div class="card-body">
                          <h5>weekly Sales</h5>
                          <canvas id="chLine"></canvas>
                      </div>
                  </div>
              </div>
              <!-- <div class="col-md-6 py-1">
                  <div class="card">
                      <div class="card-body">
                        <h5>Monthly Sales</h5>
                          <canvas id="chBar"></canvas>
                      </div>
                  </div>
              </div> -->
          </div>
          <!-- <div class="row py-2">
              <div class="col-md-4 py-1">
                  <div class="card">
                      <div class="card-body">
                          <h5>transaction Methods used</h5>
                          <canvas id="chDonut1"></canvas>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 py-1">
                  <div class="card">
                      <div class="card-body">
                        <h5>Cartegory Orders</h5>
                          <canvas id="chDonut2"></canvas>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 py-1">
                  <div class="card">
                      <div class="card-body">
                        <h5>Order Status</h5>
                          <canvas id="chDonut3"></canvas>
                      </div>
                  </div>
              </div>
          </div> -->
      </div>
      </div>
  </div>
  
  
  
  <script>
    document.addEventListener('DOMContentLoaded', async function () {
      // chart colors
      var colors = ['#007bff','#28a745','#333333','#c3e6cb','#dc3545','#6c757d'];
      
      const response = await fetch("/admin/get-sale-data")
      const data = await response.json()

      const daysOfWeek = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];

      // Create a new object to store the filled data
      const filledData = {
        labels: [],
        revenue: [],
      };

      // Loop through the days of the week
      for (const day of daysOfWeek) {
        // Check if the day is in the original data
        const index = data.labels.indexOf(day);

        if (index !== -1) {
          // If it's in the original data, copy the value
          filledData.labels.push(data.labels[index]);
          filledData.revenue.push(data.revenue[index]);
        } else {
          // If it's not in the original data, set the value to 0
          filledData.labels.push(day);
          filledData.revenue.push(0);
        }
      }

      console.log(filledData);

      /* large line chart */
      var chLine = document.getElementById("chLine");
      var chartData = {
        labels: filledData.labels,
        datasets: [{
          data: filledData.revenue,
          backgroundColor: 'transparent',
          borderColor: colors[0],
          borderWidth: 4,
          pointBackgroundColor: colors[0]
        }
      //   {
      //     data: [639, 465, 493, 478, 589, 632, 674],
      //     backgroundColor: colors[3],
      //     borderColor: colors[1],
      //     borderWidth: 4,
      //     pointBackgroundColor: colors[1]
      //   }
        ]
      };
      if (chLine) {
        new Chart(chLine, {
        type: 'line',
        data: chartData,
        options: {
          scales: {
            xAxes: [{
              ticks: {
                beginAtZero: false
              }
            }]
          },
          legend: {
            display: false
          },
          responsive: true
        }
        });
      }
      
    });
  </script>
  
  