<!--  Header End -->
<div class="container-fluid"></div>
    <div class="card">
        <div class="card-body">
            <div class="card shadow-lg border-0 rounded-lg mt-5 mx-auto" style="width: 30rem;">
                <h3 class="card-header display-1 text-muted text-center">
                    oops!
                </h3>
                <span class="card-subtitle mb-2 text-muted text-center">
                    <%= locals.msg ? msg : "Unable to load Page" %>
                </span>
                <div class="card-body mx-auto">
                    <a type="button" href="/admin/dashboard" class="btn btn-sm btn-info text-white"> Back To Home </a>
                </div>
            </div>
        </div>
    </div>
</div>
