<!-- include header -->
<%- include('./includes/header') %>

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Sign Up</h1>
					<nav class="d-flex align-items-center">
						<a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Sign Up</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	
    <!-- login page content starts -->  
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="./assets/img/i6.jpg" alt="login image sample">
						<div class="hover">
							<h4>Already have an account?</h4>
							<a class="primary-btn" href="/login">login</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Sign Up</h3>
						<form class="row login_form" action="/signupAuthenticate" method="post" id="contactForm" novalidate="novalidate" onsubmit="return signupValidate()">
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="fname" name="firstName" placeholder="first Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							</div>
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="lname" name="lastName" placeholder="lastName" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							</div>
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="email" name="email" placeholder="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							</div>
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="mobile" name="mobileNumber" placeholder="mobile Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password" name="password" placeholder="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="confirmPassword" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Signup</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
    <!-- login page content ends -->
	<script src="./assets/js/signupValidate.js"></script>
	<!-- include footer -->
	<%- include('./includes/footer') %>a