<!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footer-content">
      <div class="container">
        <div class="row g-5">
          <div class=" col-12 col-lg-5">
            <h3 class="footer-heading">About foodin</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ab, perspiciatis beatae autem deleniti
              voluptate nulla a dolores, exercitationem eveniet libero laudantium recusandae officiis qui aliquid
              blanditiis omnis quae. Explicabo?</p>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Navigation</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="#"><i class="bi bi-chevron-right"></i> Home</a></li>
              <li><a href="#"><i class="bi bi-chevron-right"></i> Categories</a></li>
              <li><a href="#"><i class="bi bi-chevron-right"></i> Post</a></li>
              <li><a href="#"><i class="bi bi-chevron-right"></i> About us</a></li>
              <li><a href="#"><i class="bi bi-chevron-right"></i> Contact</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-3">
            <h3 class="footer-heading">Partners</h3>
            <ul class="footer-links list-unstyled">
              <li><i class="bi bi-chevron-right"></i>FreshHarvest Farms</li>
              <li><i class="bi bi-chevron-right"></i>GourmetSpice Co.</li>
              <li><i class="bi bi-chevron-right"></i>Chef'sTable Provisions</li>
              <li><i class="bi bi-chevron-right"></i>FlavorfulBake Supplies</li>
              <li><i class="bi bi-chevron-right"></i>LocalCulinary Markets</li>
              <li><i class="bi bi-chevron-right"></i>WholesomeGrocer</li>
              <li><i class="bi bi-chevron-right"></i>CulinaryCraftsmen</li>
              <li><i class="bi bi-chevron-right"></i>ArtisanalTaste Partners</li>
              <li><i class="bi bi-chevron-right"></i>SavoryDelights Distributors</li>
              <li><i class="bi bi-chevron-right"></i>OrganicPlate Collaborative</li>
            </ul>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Branches</h3>
            <ul class="footer-links list-unstyled">
              <li><i class="bi bi-chevron-right"></i>Thiruvananthapuram</li>
              <li><i class="bi bi-chevron-right"></i>Kochi</li>
              <li><i class="bi bi-chevron-right"></i>Kozhikode</li>
              <li><i class="bi bi-chevron-right"></i>Alappuzha</li>
              <li><i class="bi bi-chevron-right"></i>Munnar</li>
              <li><i class="bi bi-chevron-right"></i>Wayanad</li>
              <li><i class="bi bi-chevron-right"></i>Kovalam</li>
              <li><i class="bi bi-chevron-right"></i>Thrissur</li>
              <li><i class="bi bi-chevron-right"></i>Kannur</li>
              <li><i class="bi bi-chevron-right"></i>Pala</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-legal">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Copyright <strong><span>foodin</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
              Designed by <a href="http://127.0.0.1:3000/">foodin</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.20/dist/sweetalert2.all.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>    <script src="assets/js/login.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>

  <script>
    $(document).ready(function () {
      //Preloader
      preloaderFadeOutTime = 500;
      function hidePreloader() {
        var preloader = $('.spinner-wrapper');
        preloader.fadeOut(preloaderFadeOutTime);
      }
      hidePreloader();
    });
  </script>

</body>

</html>