
.file-preview {

  max-width: 100%;
  max-height: 364px;
}

.preview-image {
  max-width: 100%;
  max-height: 364px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #d6d6d6;
  color: black;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #b7b7b7;
}