<%- include('./includes/header') %>



    <div class="container-fluid p-0 login-mobile">
        <div class="row">
            <div class="col-md-12">
                <div id="back">
                    <div class="backRight"></div>
                    <div class="backLeft"></div>
                </div>
                <div id="slideBox">
                    <div class="topLayer">
                        <div class="left">
                            <div class="content">
                                <h2>OTP Login</h2>
                                <form class="row g-3" id="mobileNumberValidateForm">
                                    <div class="col-md-12">
                                        <label for="validationCustom" class="form-label">Email Id</label>
                                        <input type="text" class="form-control" id="mobileNumber" name="mobileNumber"
                                            placeholder="Mobile Number" oninput="validateNumber(this)">
                                    </div>
                                    <div class="col-12">
                                        <button id="mobilelogin" class="w-100" type="submit">Login</button>
                                    </div>
                                </form>
                                <button id="goLeft" class="mt-0 w-100">Email Login</button>
                            </div>
                        </div>

                        <div class="right">
                            <div class="content">
                                <h2>Login</h2>
                                <form class="row g-3" novalidate id="loginForm">
                                    <div class="col-md-12 mb-3">
                                        <label class="form-label">Email Id</label>
                                        <div class="input-group">
                                            <input type="email" class="form-control px-2" id="emailId" name="emailId"
                                                required>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <label class="form-label">Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control px-2" id="loginPassword"
                                                name="loginPassword" required>
                                            <button class="btn btn-secondary m-0 rounded-right" type="button"
                                                id="showPasswordButton">
                                                <i class="bi bi-eye" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button id="login" class="w-100" type="submit">Login</button>
                                    </div>
                                </form>
                                <button id="goRight" class="w-100 mt-0" class="off"> MOBILE LOGIN </button>
                                <div class="d-flex align-items-center justify-content-center">
                                    <a class="text-primary fw-bold" href="/forgot-password">Forgot Password ?</a>
                                    <a class="text-primary fw-bold ms-2" href="/signup">Create an account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        var passwordInput = document.getElementById('loginPassword');
        var showPasswordButton = document.getElementById('showPasswordButton');

        showPasswordButton.addEventListener('click', function () {
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
            } else {
                passwordInput.type = 'password';
            }
        });

        //normal login
        document.getElementById('loginForm').addEventListener('submit', async (event) => {
            event.preventDefault();
            if (validateLogin()) {

                const form = document.getElementById('loginForm');
                const formData = new FormData(form);

                const emailId = formData.get('emailId');
                const loginPassword = formData.get('loginPassword');

                const data = {
                    emailId,
                    loginPassword
                }
                try {

                } catch (error) {

                }
                const response = await fetch("/loginAuthenticate", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                });

                const result = await response.json();
                if (result.status === "success") {
                    Toastify({
                        text: result.msg,
                        className: "info",
                        style: {
                            background: "linear-gradient(to right, #0b7303, #24c9a3)",
                        }
                    }).showToast();
                    setTimeout(() => {
                        window.location.href = "/"
                    }, 800);
                } else {
                    Toastify({
                        text: result.msg,
                        className: "info",
                        style: {
                            background: "linear-gradient(to right, #ff0000, #dd2a7f)",
                        }
                    }).showToast();
                }
            }

        })

    </script>
    <script src="assets/js/validate.js"></script>
    <%- include('./includes/footer') %>