
<!-- include header -->
<%- include('./includes/header') %>


  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
  <div
	class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
	<div class="d-flex align-items-center justify-content-center w-100">
	  <div class="row justify-content-center w-100">
		<div class="col-md-8 col-lg-6 col-xxl-3">
		  <div class="card mb-0">
			<% if (locals.status === "success") { %>
				<div class="alert alert-success" role="alert">
					<%= locals.msg %>
				</div>
				<script>
                    setTimeout(()=>{
                      window.location.href = "http://127.0.0.1:3000/"; 
                    },800)
				</script>
			<% } if(locals.status === "error"){ %>
				<div class="alert alert-danger" role="alert">
					<%= locals.msg %>
				</div>
			<% } %>
			<br>
			<div class="card-body">
			  <h1 class="text-center">login</h1>
<!-- 
			  <form class="login_form" action="/loginAuthenticate" method="post" id="contactForm" onsubmit="return validateLogin()">
				<div class="mb-3">
					<label for="Email" id="emailLabel" class="form-label">Email Id</label>
					<input type="email" class="form-control" id="emailId" name="emailId" placeholder="Email Id">				
				</div>
				<div class="mb-3">
					<label for="password" id="passwordLabel" class="form-label">Password</label>
					<input type="password" class="form-control" id="loginPassword" name="loginPassword" placeholder="Password">				
				</div>
				<button class="btn btn-warning w-100 py-8 fs-4 mb-4 rounded-2">Login</button>
				<div class="d-flex align-items-center justify-content-center">
					<a class="text-primary fw-bold" href="/forgot-password">Forgot Password ?</a>
					<a class="text-primary fw-bold ms-2" href="/signup">Create an account</a>
				</div>
			  </form> -->
			</div>
		  </div>
		  
		</div>
	  </div>
	</div>
  </div>
</div>




<script src="assets/js/validate.js"></script>
<!-- include footer -->
<%- include('./includes/footer') %>
